/*
 *Name: [Christoper Danley]
 *UnityID: [200583932]
 *Date: [02/12/2025]
 *Assignment: Guided lab4 
 *Description: csc webpages 
 */
 
p {
     font-family: Times;
font-size: 16px;
color: #DECAFF; 
}

.table-border {
border: 1px solid #DECAFF;
}

#photo-resize {
max-width: 250px;
max-height: 300px;
}
